body {
    background: transparent url("../big.jpg") repeat fixed center;
    overflow: hidden;
}

@keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: green;}
    75%  {border-color: blue;}
    100% {border-color: red;}
}

h1 {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-width: 15px;
    border-style: dotted;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 60px;
    text-decoration: blink;
    color: #000000;
    font-size: 5em;
    font-family: -moz-fixed;
    letter-spacing: 30px;
    background-color: rgba(255, 255, 255, 0.7);;
    padding-left: 30px;
}

.camcontent{
    width: 1330px;
    margin: auto;
}

#countdown {
    position: absolute;
    width: 640px;
    height: 480px;
    line-height: 480px;
    font-size: 250px;
    color: white;
    text-align: center;
    vertical-align: middle;
    top: 200px;
    text-shadow: 0px 0px 30px black;
}

#canvas {
    background-color: white;
    margin-left: 30px;
}

#noaction {
    cursor: none;
    height: 800px;
    width: 2000px;
    position: absolute;
    top: -20px;
    left: -20px;
}

video {
    border: 5px solid #ffffff;
    transform: rotateY(180deg);
}
